# Optionnel: ignorer les fichiers generes automatiquement
*/Generated_Source

# Ignorer les preferences personnelles
*.cyprj.*
*.cywrk.*

# Ignorer les fichiers temporaires et rapports de compilation
*/*.log
*/codegentemp/
*/CortexM3/
*/*.cycdx
*/*.cyfit
*/*.rpt
*/*_timing.html
*/Export/PSoCCreatorExportIDE*

Backup/Pstat-PSoC._4.2.zip
Backup/Pstat-PSoC._4.3.zip
